@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.urlInputContainer {
    position: relative;
    padding: 3px; /* border thickness */
    border-radius: 10px;
    background: conic-gradient(from var(--angle), #f46a00, #95d505, #f46a00);
    animation: rotate 4s linear infinite;
    display: inline-block; /* wrap the container around the input */
}

.urlInput {
    border: none;
    font-size: 1em;
    color: #e8e8e8;
    border-radius: .5rem;
    background-color: #101010;
    padding: .5rem 4rem;
    text-align: center;
    font-family: inherit;
}

.urlInput:focus {
    outline: none; /* Removes default focus outline */
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}
