@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
}

h1, h2, h3 {
  color: #e8e8e8;
}

.chibi-container {
  position: absolute;
  display: flex;
  bottom: -1rem;
  width: 100%;
  justify-content: center;
}